.title_name{
  display: inline-block;
  color: #fff;
  text-align: center;
  margin-left: 550px;
}
.imageholder{
  margin-left: 450px;
  margin-top: 20px;
}
.header{
  display: inline-block;
  text-align: center;
}
.icon{
  display: inline-block;
  color: #fff;
  margin-top: -45px;
  margin-left: 50px;
}
.left-orient{
  text-align: left;
  margin: 50px 200px;
}
.verticaline{
  border-left: thick solid #ff0000;
  /* margin-right: 50px; */
  margin-top: 20px;
}
.verticaline p{
  margin-left: 30px;
  color: #fff;
  margin-top: 20px;
}
.inner_title{
  margin-left: -670px;
}
.inner_title2{
  margin-top: 50px;
  margin-left: 190px;
}
.link{
  color: #fff;
  margin-left: 190px;
}
.contacticon{
  color: #fff;
  margin-right: 10px;
}
.contact{
  color: #fff;
  display: inline-block;
}
.contact2{
  color: #fff;
  display: inline-block;
  margin-left: 150px;
}
.contact_details{
  margin-left: 185px;
  margin-top: 30px;
}