.bgcolor {
  background-color: #4e586e;
  color: #fff;
}

.links {
  margin-right: 30px !important;
  color: #f54b64;
}

/* Spacing between the cards */
.myCard {
  margin: 0 20px;
}

.spacinglink {
  margin-right: 60px;
}
